<jsv-header>
    <button-header-left onclick="$JSView.back()">< inici</button-header-left>
   Mart
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">mart</h1>
		
	<p>
	Mart és el quart planeta del sistema solar segons la distància al Sol i el segon planeta més petit, després de Mercuri.
	El seu nom ve del déu de la guerra romà, i sovint se'l descriu com al "planeta vermell" o "planeta roig" a causa de la seva aparença vermellosa.
	És una planeta tel·lúric amb una tènue atmosfera, i té característiques superficials que recorden els cràters d'impacte de la Lluna i els volcans, valls, deserts i els casquets polars de la Terra.
	El període de rotació i els cicles estacionals de Mart són prou similars als de la Terra, ja que és a causa de la inclinació que hi ha estacions. 
	</p>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('jupiter')">Júpiter</button>
	
	</div>	
	
</jsv-content>
