<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inici</button-header-left>
    Neptú
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Neptú</h1>
		
		<p>
		Neptú és el vuitè planeta en distància respecte al Sol i el més llunyà del sistema solar.
		S'anomena en honor al déu romà del mar, i és el quart planeta en diàmetre i el tercer més gran per massa. La seva massa és 17 vegades la de la Terra i lleugerament més massiu que el seu planeta "bessó" Urà, que té 15 masses terrestres i no és tan dens.
		De mitjana, Neptú gira al voltant del Sol a una distància de 30,1 UA.
		El seu símbol astronòmic és Símbol astronòmic de Neptú., una versió estilitzada del trident del déu Neptú.
                Va ser descobert el 23 de setembre de 1846, i esdevingué així el primer planeta a ser descobert mitjançant prediccions matemàtiques en lloc d'observació empírica.
                A causa de canvis inexplicats en l'òrbita d'Urà, Alexis Bouvard va deduir que la seva òrbita era pertorbada gravitacionalment per un planeta desconegut.
                Posteriorment, Johann Galle el va observar a menys d'un grau de la posició que Urbain Le Verrier havia predit.
                El seu satèl·lit més gran, Tritó va ser descobert seguidament, tot i que no es van descobrir la resta de 12 llunes fins al segle XX, emprant telescopis.
                Només una sonda ha visitat Neptú (Voyager 2), que va sobrevolar el planeta el 25 d'agost de 1989.
		</p>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('taula')">Taula</button>
	
	</div>	
	
</jsv-content>
