<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inici</button-header-left>
    Saturn
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Saturn</h1>
		
		<p>
	Saturn és el sisè planeta en ordre de proximitat al Sol i el segon més gran del sistema solar, després de Júpiter. 
	Es classifica com un gegant gasós o jovià, que significa 'semblant a Júpiter'. 
	S'anomena així en honor al déu romà Saturnus, equivalent al déu grec Kronos (el pare tità de Zeus), al babiloni Ninurta i a l'hindú Shani..
        El planeta Saturn està compost d'hidrogen, amb petites proporcions d'heli i traces d'altres elements.
        L'interior consisteix en un petit nucli de roca i gel, envoltat d'una capa gruixuda d'hidrogen metàl·lic i una capa gasosa exterior. 
        L'atmosfera exterior té una aparença generalment uniforme, encara que hi poden aparèixer alguns detalls duradors. A Saturn, els vents poden arribar a una velocitat de 1.800 km/h, i són significativament més ràpids que els de Júpiter.
        Saturn té un camp magnètic planetari d'intensitat intermèdia entre el de la Terra i el més potent de Júpiter.
        Saturn té un sistema d'anells prominent, que consisteix principalment en partícules de gel amb una menor quantitat de roques petites i pols. 
        Es coneixen seixanta-un satèl·lits que orbiten el planeta, sense comptar els centenars de "llunetes" dels anells. 
        Tità, la lluna més gran de Saturn i la segona més gran del sistema solar (després de Ganimedes, una de Júpiter), és més gran que el planeta Mercuri i és l'única lluna del sistema solar que té una atmosfera significativa.
		</p>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('ura')">Urà</button>
	
	</div>	
	
</jsv-content>
