<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inici</button-header-left>
    Urà
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Urà</h1>
		
		<p>
		Urà és el setè planeta des del Sol, el tercer més gran i el quart amb major massa del Sistema Solar.
		S'anomena en honor de la divinitat grega del cel Urà (grec antic Οὐρανός) el pare de Cronos (Saturn) i l'avi de Zeus (Júpiter).
		Encara que és visible a ull nu com els altres cinc planetes clàssics, mai no va ser reconegut com a planeta pels observadors antics a causa de la lentitud de la seva òrbita.
		Sir William Herschel va anunciar el seu descobriment el 13 de març de 1781, expandint els límits coneguts del Sistema Solar per primera vegada en la història moderna.
		També va ser el primer descobriment d'un planeta utilitzant un telescopi.
		</p>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('neptu')">Neptú</button>
	
	</div>	
	
</jsv-content>
